.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color:blue
}

.name {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Quattrocento Sans', sans-serif;

}
.intro{
  font-weight: 700;
  font-size: 20px;
  color:#7980fb;
  font-family: 'Quattrocento Sans', sans-serif;

}
.link-to-proj{
  margin: 40px;
}
.home{
  background-color: rgb(54,84,109);
}
#about{
  color:#f9f0e1;
  margin-top: 35px;
}
.abouth2{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}
.icon-links{
  padding: 15px
}
.aboutp{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 25px;
  margin-top: 30px;
}
.pfp{
  border:4px solid #f9f0e1;
  border-radius: 50%;
  height: 400px;
  width:400px;
}
.cd-intro{
  margin-bottom: 0px;
}
#hero-area {
  background: url('https://i.imgur.com/oNkYjlL.jpg') no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
  padding: 230px 0;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  position: relative;

  }
  .block {
    position: relative;
    z-index: 9;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
    color: rgb(26, 23, 23);
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 38px;
    line-height: 27px;
    text-transform: uppercase;
    color: rgb(244, 242, 242);
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
  }
  .btn {
    background: button-bg;
    border: none;
    color: white;
    padding: 20px 35px;
    margin-top: 30px;
    font-size: 16px;
    font-size: 13px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: normal;
    border-radius: 0;
  }
  .section-heading{
    color:#f9f0e1;
    margin-top:30px
  }
.latest{
  color:#f9f0e1;
  font-size: 40px;
}
.projects{
  margin-top:30px
}



/* projects css */






.va {
  display: flex;
  align-items: center;
}

.hero,
.cta {
  background: url(https://i.imgur.com/hQoJ6Dx.png?1), linear-gradient(52deg, #42475C 0%, #20222E 71%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta {
  height: 500px;
  border-top: 10px solid turquoise;
}

footer {
  color: white;
  background: rgb(14, 14, 14) !important;
}

footer strong {
  color: turquoise;
}

footer a {
  color: turquoise;
}



hr.content-divider {
  max-width: 75px;
  height: 5px;
}

#parallax-1 {
  background: url(https://i.imgur.com/pufQgFW.jpg);
  /* background-attachment: fixed; */
  background-position:20px;
  background-repeat: no-repeat;
  background-size:contain;
  border-top: 10px solid rgb(245, 67, 67);
}

#parallax-1 hr {
  background: rgb(245, 67, 67);
}
.bravado-title{
  font-size: 50px;
  font-weight: 900;
  font-family: 'Quattrocento Sans', sans-serif;


}
.bravado{
  font-size: 20px;
  color:rgb(245, 4, 4);
  padding:20px
}

#parallax-2 {
  background: url(https://i.imgur.com/9F4f5dI.png);
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-top: 10px solid yellow;
  background-color: #20222E;
}
.button{
  margin:20px;
}
#parallax-2 hr {
  background: yellow;
}
.anime-title{
  font-size: 40px;
  color:coral;
}
.anime{
  color:aliceblue;
  font-size: 20px;
}


#parallax-3 {
  background: url(https://source.unsplash.com/featured/?city);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid hotpink;
}

#parallax-3 hr {
  background: hotpink;
}

.label {
  color: white;
}


